.page {
  &__bread-crumbs {
    margin-top: -20px;
    margin-bottom: 50px !important;
  }
}
.bread-crumbs {
  &__container {
  }

  &__links {
    display: flex;
    gap: 5px;
  }

  &__link {
    font-weight: 600;
    line-height: normal;
		color: $not-active;
		span {
			transition: all 0.3s ease;
		}
		
		&._active-page {
			color: $active;
		}

		&:hover {
			span {
				color: $active;
			}
		}
  }
}
